

#add-note-popup {
    position: absolute;
    visibility: hidden;
}

.scroll {
    height:85vh;
    overflow-y: scroll !important;
  }

.vh15 {
    height:10vh;
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
}
 
.scroll::-webkit-scrollbar-track {
    /*border-radius: 3px;*/
    background: rgba(0,0,0,0.02);
    border: 1px solid #ccc;
}
 
.scroll::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
  
.scroll::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}


