.resultHTML {
    background:#eee;
    height:90vh;
    overflow: scroll;
    padding:15px;
}

a, a:hover {
    color:#222;
}

.references {
    font-size: .7em;
    background:#333;
    color:white;
    padding:0.7em;
}

.references a {
    color:white;
}

#add-note-popup {
    position: absolute;
    visibility: hidden;
}



